---
# Configuration for yamllint

extends: default

rules:
  line-length:
    max: 120
    level: warning

  comments:
    min-spaces-from-content: 1

  comments-indentation:
    level: warning

  truthy:
    allowed-values: ['true', 'false']
    check-keys: false

  brackets:
    max-spaces-inside: 1
    max-spaces-inside-empty: 0

  braces:
    max-spaces-inside: 1
    max-spaces-inside-empty: 0
